click==8.1.8
jsonschema[format]==4.23.0
pyyaml==6.0.2

# Dev dependencies
coverage==7.8.0
pytest==8.3.5
pytest-cov==6.1.1

mypy==1.15.0
ruff==0.12.0
safety==3.2.14

# Packaging
setuptools==80.4.0
twine==6.1.0
wheel==0.45.1

# Typing
types-orjson==3.6.2
types-PyYAML==6.0.12.20250402
types-jsonschema==4.23.0.20241208
