click==8.1.8
jsonschema[format]==4.23.0
pyyaml==6.0.2

# Dev dependencies
coverage==7.6.10
mock==5.1.0
pytest==8.3.4
pytest-cov==6.0.0

mypy==1.14.1
ruff==0.8.6
safety==3.2.14

# Packaging
setuptools==76.0.0
twine==6.0.1
wheel==0.45.1

# Typing
types-mock==5.1.0.20240425
types-orjson==3.6.2
types-PyYAML==6.0.12.20241230
types-jsonschema==4.23.0.20240813
